.postitem {
    display: flex;
    flex-direction: row;
    height: 40px;
    width: 100vw;
    &__icon {
        width: 40px;
    }
    &__title {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        white-space: nowrap;
    }
}